In [50]:
import random
import pandas as pd
import numpy as np
df = pd.read_csv('hot.csv')
df = df.drop(columns=['Unnamed: 0'])

In [114]:
random = df['Titles'].sample().to_string(index=False)
artist = df.loc[df['Titles']==random, 'Artists'].to_string(index=False)

In [76]:
df['Titles'] = df['Titles'].str.lower()
df['Artists'] = df['Artists'].str.lower()

In [116]:
def songs():
    music = input('Please write the name of your favorite song')
    if music.lower() in list(df['Titles']): #making the input lower case and check if it is in the list
        df['Titles'].drop(music, axis=1) #drop the input from the list to run the random function
        return 'your recommended song is' random 'by' artist
    
    else:
        print('Your song is not between the 100 hot songs. We will recommend you a similar song')
        
songs()

SyntaxError: invalid syntax (922002520.py, line 5)

In [77]:
df

                         Titles                               Artists
0                       flowers                           miley cyrus
1                     kill bill                                   sza
2                    last night                         morgan wallen
3                        unholy                sam smith & kim petras
4                      creepin'  metro boomin, the weeknd & 21 savage
..                          ...                                   ...
95                   yandel 150                         yandel & feid
96               heart to heart                           mac demarco
97          next thing you know                          jordan davis
98  never gonna not dance again                                  p!nk
99                    open arms            sza featuring travis scott

[100 rows x 2 columns]

In [51]:
df

                         Titles                               Artists
0                       Flowers                           Miley Cyrus
1                     Kill Bill                                   SZA
2                    Last Night                         Morgan Wallen
3                        Unholy                Sam Smith & Kim Petras
4                      Creepin'  Metro Boomin, The Weeknd & 21 Savage
..                          ...                                   ...
95                   Yandel 150                         Yandel & Feid
96               Heart To Heart                           Mac DeMarco
97          Next Thing You Know                          Jordan Davis
98  Never Gonna Not Dance Again                                  P!nk
99                    Open Arms            SZA Featuring Travis Scott

[100 rows x 2 columns]